[Desktop Entry]
Name=Dino
Exec=webapp-container --app-id="dino.collaproductions" $@ www/index.html
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
